<!DOCTYPE html>
<html>
  <head>
    <title>sad nat because <%= h entry.reason %></title>
    <meta charset="utf-8">
    <link href="/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="reasons">
      <div class="odd">
        <a href="/">Nat is sad</a> because &quot;<%= h entry.reason %>&quot;&mdash;
        <span class="when"><a href="/view/<%= entry.id %>"><%= entry.date.humanize %></a></span>
        <span class="by">via
          <% if !entry.username.nil? %>
            <a href="http://twitter.com/<%= entry.username %>">@<%= entry.username %></a>
          <% else %>
            Anonymous
          <% end %>
        </span>
        <% if !entry.response.nil? %>
          <p class="response">
          &quot;<%= h entry.response %>&quot; /Nat
          </p>
        <% end %>
        <% if session["user"] == "icco" %>
          <form action="/view/<%= entry.id %>" method="post">
            <input class="response" value="<%= entry.response %>" type="text" name="response" maxlength="255" />
            <input type="submit" />
          </form>
        <% end %>
      </div>
    </div>

    <script type="text/javascript">
      /* Google Analytics. */
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-333449-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
